#meme-image {
  position: relative;
  max-width: 600px;
  height: 500px;
  max-height: 500px;
}

#meme-image .text-container {
  text-align: center;
  position: absolute;
  width: 80%;
}
.text-container:first-of-type {
  top: 10px;
}
.text-container:last-of-type {
  bottom: 10px;
}

#meme-image .meme-text {
  color: #fff;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
  font-family: Impact, Charcoal, "League Gothic", sans-serif;
  font-size: 5rem;
  text-align: center;
  width: 100%;
  border: none;
  background: none;
}
#meme-image .meme-text ~ label {
  display: none;
}

#meme-image .meme-text:focus + label,
#meme-image label:active {
  cursor: pointer;
  display: block;
}

#meme-image .meme-text:focus {
  background: rgba(67, 158, 238, .5);
}

.yell {
  text-transform: uppercase;
}

#meme-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#custom-image {
  width: 100%;
  height: 150px;
  border: 1px dashed #fff;
  background: rgba(90, 90, 90, .5);
}
#custom-image > div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#toolbar {
  display: flex;
  flex-direction: column;
}

#toolbar button {
  position: relative;
  margin: 15px;
}

#toolbar button.yell::after {
  content: '\f00c';
  color: green;
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  display: block;
  position: absolute;
  top: 5px;
  right: -30px;
  margin-left: 10px;
}
